{% extends "base.html" %}
{% load static %}

{% block sidebar %}
	<div class="sidebar" data-background-color="white" data-active-color="danger">
    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    Rich Club
                </a>
            </div>
            <ul class="nav">
                <li class="active">
                    <a href="{% url 'account:home' %}">
                        <i class="ti-home"></i>
                        <p>Общая сводка</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:profile' %}">
                        <i class="ti-user"></i>
                        <p>Профиль</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'graph:mpttgraph-inline' 'account.models.Node'  node.id %}">
                        <i class="ti-view-list-alt"></i>
                        <p>Структура</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:invited' %}">
                        <i class="ti-user"></i>
                        <p>Приглашенные</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:bonus_history' %}">
                        <i class="ti-server"></i>
                        <p>История бонусов</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:documentation' %}">
                        <i class="ti-map"></i>
                        <p>Документация</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:notifications' %}">
                        <i class="ti-bell"></i>
                        <p>Уведомления</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
{% endblock %}
{% block javascript %}
  <script>
      $(document).ready(function(){

          var expired_date = $('#expired_date').val();
          var date = new Date(expired_date).getTime();

// Set the date we're counting down to
//var countDownDate = new Date("May 17, 2019 15:37:25").getTime();
var countDownDate = new Date(date).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in an element with id="demo"
  //document.getElementById("timer_val").innerHTML = days + "d " + hours + "h "
  //+ minutes + "m " + seconds + "s ";
    var days_txt = "";
    if(days > 0)
        days_txt = days + "д ";
    document.getElementById("timer_val").innerHTML = days_txt + hours + "ч "
  + minutes + "м " + seconds + "с ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer_val").innerHTML = "EXPIRED";
  }
}, 1000);
    	});
  </script>
{% endblock %}
{% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-wallet"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Баланс</p>
                                            {%if node.balance > 0%}
                                                <p>{{ node.balance }} som</p>
                                            {% endif %}
                                            {%if node.balance_usd > 0%}
                                                <p>{{ node.balance_usd }} usd</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-money"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-server"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Бонус</p>
                                            {%if node.bonus > 0%}
                                                <p>{{ node.bonus }} som</p>
                                            {% endif %}
                                            {%if node.bonus_usd > 0%}
                                                <p>{{ node.bonus_usd }} usd</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-money"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-bar-chart"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Этап</p>
                                            {%if node.status == 1%}
                                                <p>classic</p>
                                            {% endif %}
                                            {%if node.status == 2%}
                                                <p>Партнер</p>
                                            {% endif %}
                                            {%if node.status == 3%}
                                                <p>Лидер</p>
                                            {% endif %}
                                            {%if node.status == 4%}
                                                <p>Менеджер</p>
                                            {% endif %}
                                            {%if node.status == 5%}
                                                <p>Директор</p>
                                            {% endif %}
                                            {%if node.status == 6%}
                                                <p>Миллионер</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-calendar"></i> Last day
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-reload"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Цикл</p>
                                            <p>{{ node.cycle}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-timer"></i> In the last hour
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-timer"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Активация</p>
                                            <p id="timer_val" style="color:green; size: 12px"></p>
                                            <input type="hidden" id="expired_date" value="{{ node.expired_date|date:"c"}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-timer"></i> In the last hour
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="form-group">
                        <label>Ваша реферальная ссылка</label>
                        <input type="text"  name="referal"  class="form-control border-input" value="http://rich-club.org/account/signup?inviter={{node.pk }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="form-group">
                        <label>Ваш ID</label>
                        <input type="text"  name="node_id"  class="form-control border-input" value="{{node.pk }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                                {% if node.status == 0 %}
                                    <h4 class="title" style="color: red">Профиль неактивный</h4>
                                {% endif %}
                </div>
            </div>
        </div>
{% endblock %}