                            <div class="header">
                                <p class="category">Приглашенных:  {{ nodes|length }}</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                               {% if nodes|length > 0 %}
                                <table class="table table-striped">
                                    <thead>
                                        <th>ID</th>
                                    	<th>Логин</th>
                                    	<th>Фамилия Имя</th>
                                    	<th>Статус</th>
                                    	<th>Регистрация</th>
                                    </thead>
                                    <tbody id="table_body">
        {% for node in nodes %}
            <tr>
                <td>{{ node.pk }}</td>
                <td>{{ node.user.username }}</td>
                <td>{{ node.user.last_name }} {{ node.user.first_name }}</td>
                <td>
                                            {%if node.status == 1%}
                                                <p>classic</p>
                                            {% endif %}
                                            {%if node.status == 2%}
                                                <p>Партнер</p>
                                            {% endif %}
                                            {%if node.status == 3%}
                                                <p>Лидер</p>
                                            {% endif %}
                                            {%if node.status == 4%}
                                                <p>Менеджер</p>
                                            {% endif %}
                                            {%if node.status == 5%}
                                                <p>Директор</p>
                                            {% endif %}
                                            {%if node.status == 6%}
                                                <p>Миллионер</p>
                                            {% endif %}
                </td>
                <td>{{ node.user.date_joined }}</td>
            </tr>
        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            </div>